// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }
body{
  display: block;
  
}
.game-section{
  background-color: #d9ed92;
  padding: 50px 0;
  height: 400px;

  &-btn{
    display: block;
    width: 100px;
    height: 40px;
    font-size: x-large;
    cursor: pointer;
    background-color: #70e000;
    color: #004b23;
    border-radius: 5px;
    border-color: #004b23;
    margin: 0 auto;
    &:hover,
    &:focus{
      background-color: #38b000;
    }
  }

  &-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  &-item{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    outline:auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  &-text{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: x-large;
    margin-left: 50px;
  }
}

// -------------------------------------
.time-section{
  height: 700px;
  background-color: #76c893;
  padding: 50px 0;
}
.time-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-text{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: x-large;
}
.box{
  width: 200px;
  height: 200px;
  border: 1px dotted black;
  // outline:auto;
  text-align: center;
  vertical-align: middle;
}